<div class="title">
  <b><%= video['title'] %></b><br>
  <%= video['path'] %><br>
  <a href="<%= video['imdb'] %>">imdb</a><br>
  <a href="<%= video['rotten_tomatoes'] %>">rotten tomatoes</a><br>
  <%= erb :tag_list, locals: { tags: video['tags'] } %>
</div>
