<div class="tags">
  <ul>
    <% #.map { |e| "#{e},".split.rotate(-1).join(' ') }
       for @name in tags.map { |t| t['name'] }
                        .sort.uniq %>
      <li>
        <a href="/tags/<%= @name %>"><%= @name %></a>
      </li>
    <% end %>
  </ul>
</div>
